accelerate>=0.14.0,<0.15.0
evaluate>=0.3.0,<0.4.0
transformers>=4.24.0,<4.25.0
timm>=0.6.12,<0.7.0
click==8.0.4
balanced-loss
scikit-learn
tensorboard
opencv-python
gradio>=3.1.6
huggingface-hub>=0.11.0,<0.12.0
importlib-metadata>=1.1.0,<4.3;python_version<'3.8'
