accelerate>=0.12.0
evaluate>=0.2.2
transformers @ git+https://github.com/huggingface/transformers.git@30992ef0d911bdeca425969d210771118a5cd1ac
timm>=0.6.7
click==8.0.4
pytorchvideo
balanced-loss
scikit-learn
tensorboard
opencv-python
gradio>=3.1.6
huggingface-hub @ git+https://github.com/huggingface/huggingface_hub.git@a1282ab170e6248a893764d5d6759efeaa7a5421